{% extends 'base.html' %}

{% block main %}
    <div class="chat" id="{{ id }}">
        {% for message in chat.messages %}
            <p class="role">
                {{ message.role }}
            </p>
            <div class="message">
                {{ message.content }}
            </div>
        {% endfor %}   
        </div>
    <div id="user-chat-box">
        <div class="function-holder">
            <input type="checkbox" class="silence">🤐</button>
            <textarea type="text" id="message" placeholder="message"></textarea>
            <input type="text" id="role" placeholder="role" value="user">
            <button id="send-message-button" onclick=sendMessage()>send message</button>
        </div>
    </div>
{% endblock %}